.footer{
  position: absolute;
  width: 100%
  background-color: inherit;
  bottom 162px;
  font-size: 15px;
  box-sizing: border-box;
  font-family: "Open Sans", "Helvetica", "Arial", sans-serif;
  &__wrap{
    display: flex;
    flex-wrap nowrap;
    justify-content: space-between;
    max-width 1125px;
    margin:0 auto;
    .link__list{
      li{
        display: inline-block;
        margin-left: 30px;
      }

      a{
        display:block;

      }
    }
  }


}