.preview {
  .vidio__play {
    animation: video_anim 3s linear;
    animation-fill-mode: forwards;
  }
  .vidioItem__play {
    animation: video_anim1 3s linear;
    animation-fill-mode: forwards;
  }
  &.videoPreview__play {
    animation: video_anim2 3s linear;
    animation-fill-mode: forwards;
  }
  .vidioInner__play {
    animation: video_anim3 2s linear;
    animation-fill-mode: forwards;

  }
}

@keyframes video_anim {

  50%{
    width: 100vh;
    height: 100vh;

  }
  80% {
    width: 100vw;
    height: 100vw;
  }
  100%{
    width: 100vw;
    height: 100vh;
    border-radius: 0;
  }
}

@keyframes video_anim1 {
  70%{border-radius: 70%;}
  100% {
    border-radius: 0;
  }
}

@keyframes video_anim2 {
  80%{
    mix-blend-mode: multiply;
    background: rgba(0,0,0,0.2);
  }
  100% {
    mix-blend-mode: normal;
    background: #000;
  }
}

@keyframes video_anim3 {
  80% {
    background: rgba(0, 0, 0, 1);
  }
  100% {
    background: rgba(0, 0, 0, 0);
  }
}



